In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame
from pandas import Series

In [2]:
# --------------pandas的数据结构介绍-----------------------

In [3]:
# -------1.Series-----类似于一维数组对象
s = Series([1,10,2,56])
print(s)

0     1
1    10
2     2
3    56
dtype: int64

In [4]:
# 值values
print(s.values)
# 索引index
print(s.index)

[ 1 10  2 56]
RangeIndex(start=0, stop=4, step=1)

In [6]:
# 通过索引index 选取值
print(s[0])
print(s[[0,2,3]])

1
0     1
2     2
3    56
dtype: int64

In [8]:
# Series也类似于字典:index=key / values=value
dic = {'a':1,'b':2,'c':3,'d':4}
s1 = Series(dic)
print(s1)
# 可以修改index
s1.index = ["A","B","C","D"]
print(s1)

a    1
b    2
c    3
d    4
dtype: int64
A    1
B    2
C    3
D    4
dtype: int64

In [9]:
# ------2.DataFrame-------
# 是一个表格型的数据结构，每列可以是不同的值（int,float,datatime,string.....）
# 是series组成的字典
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'], 
        'year': [2000, 2001, 2002, 2001, 2002, 2003], 
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}

frame = pd.DataFrame(data)

frame

   pop   state  year
0  1.5    Ohio  2000
1  1.7    Ohio  2001
2  3.6    Ohio  2002
3  2.4  Nevada  2001
4  2.9  Nevada  2002
5  3.2  Nevada  2003

In [12]:
print(frame.index)
print(frame.columns)

RangeIndex(start=0, stop=6, step=1)
Index(['pop', 'state', 'year'], dtype='object')

In [14]:
# 从DataFrame里提取一列的话会返回series格式，可以以属性或是dict一样的形式来提取：
frame['state']

0      Ohio
1      Ohio
2      Ohio
3    Nevada
4    Nevada
5    Nevada
Name: state, dtype: object

In [16]:
# 对于行，要用在loc属性里用 位置或名字：
frame.loc[1:3]

   pop   state  year
1  1.7    Ohio  2001
2  3.6    Ohio  2002
3  2.4  Nevada  2001

In [17]:
del frame['pop'] # 然后用del删除这一列
frame.columns

Index(['state', 'year'], dtype='object')

In [19]:
# values属性会返回二维数组：
frame.values

array([['Ohio', 2000],
       ['Ohio', 2001],
       ['Ohio', 2002],
       ['Nevada', 2001],
       ['Nevada', 2002],
       ['Nevada', 2003]], dtype=object)

In [18]:
# -----------------索引对象-------------

In [20]:
obj = pd.Series(range(3), index=['a', 'b', 'c'])
index = obj.index
index

Index(['a', 'b', 'c'], dtype='object')

In [21]:
index[1:]

Index(['b', 'c'], dtype='object')

In [22]:
# index object是不可更改的：index[1] = 'd'